{% extends "App1/padre.html" %}

{% block titulo %}
¡POLITICA DE DEVOLUCIONES!
{% endblock %}

{% block info %}
<header class="bg-white py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-5 fw-bolder">
                POLITICA DEVOLUCION <br>
                
                <br>- 48hs DESPUES DE SU COMPRA!<br>
                <br>- PRENDA ADQUIRIDA SE ENCUENTRE SIN MANCHAS! <br>
                <br>- ADJUNTAR TICKET DE COMPRA O COMPROBANTE DIGITAL DEL MISMO! <br>
                
                <br>
                <br>
                <img src="../../static/App1/img/foto5.jpg" alt="FOTO ILUSTRE" width="500"> <br>
                <br>
                -------------- COMUNICARSE AL NUMERO DE CONTACTO PUBLICADO  -------------- <br>
                
              
    
            </h1>
            {% endblock %} 
