{% extends "App1/padre.html" %}

{% block titulo %}
¡BIENVENIDO A MUNA!
{% endblock %}

{% block info %}
<header class="bg-white py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-5 fw-bolder">
                TIENDA DE ROPA <br>
                #MUNAgirl <br>
                <br>
                <img src="../../static/App1/img/foto2.jpeg" alt="FOTO ILUSTRE" width="500"> <br>
                <br>
                -------------- Clothes girls & more -------------- <br>
                <br>
                    
                 <img src="../../static/App1/img/foto1.jpeg" alt="FOTO ILUSTRE" width="700"> 
                    
                <br> 
                <br>
                VISITE SHOWROOM <br>
                       &<br>
                ENVIOS A DOMICILIO <br>
    
            </h1>
            {% endblock %} 

            