{% extends "App1/padre.html" %}

{% block titulo %}
NUESTROS PRODCUTOS 
{% endblock %}

{% block compra %}

                            <!-- Product image-->
                            <img class="card-img-top" src="https://res.cloudinary.com/darjv6wh0/image/upload/v1678837185/WhatsApp_Image_2023-03-14_at_20.37.35_1_ws5e1q.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">TOP CROCCO</h5>
                                    <!-- Product price-->
                                     $3000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://res.cloudinary.com/darjv6wh0/image/upload/v1678837185/WhatsApp_Image_2023-03-14_at_20.37.36_lzqwny.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">CATSUIT BEBIN</h5>
                                                                      <!-- Product price-->
                                   
                                    $4500
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            
                            <!-- Product image-->
                            <img class="card-img-top" src="https://res.cloudinary.com/darjv6wh0/image/upload/v1678837184/WhatsApp_Image_2023-03-14_at_20.39.23_smnxpd.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">VESTIDO GRETA</h5>
                                    <!-- Product price-->
                                    
                                    $4000
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://res.cloudinary.com/darjv6wh0/image/upload/v1678837184/WhatsApp_Image_2023-03-14_at_20.37.36_2_hkfvhl.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">VESTIDO LENA</h5>
                               
                                    <!-- Product price-->
                                    $4300
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                        
                            <!-- Product image-->
                            <img class="card-img-top" src="https://res.cloudinary.com/darjv6wh0/image/upload/v1678837184/WhatsApp_Image_2023-03-14_at_20.37.34_ri0mde.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">TOP TRIXY</h5>
                                    <!-- Product price-->
                                    
                                    $2800
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://res.cloudinary.com/darjv6wh0/image/upload/v1678837184/WhatsApp_Image_2023-03-14_at_20.37.34_1_zud0c3.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SET GINNA</h5>
                                    <!-- Product price-->
                                    $15000 
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                          
                            <!-- Product image-->
                            <img class="card-img-top" src="https://res.cloudinary.com/darjv6wh0/image/upload/v1678837184/WhatsApp_Image_2023-03-14_at_20.37.34_2_ja8gdx.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">SET LILO</h5>
                                    <!-- Product reviews-->
                                  
                                    <!-- Product price-->
                                    
                                    $4300
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://res.cloudinary.com/darjv6wh0/image/upload/v1678837184/WhatsApp_Image_2023-03-14_at_20.37.35_p84qtz.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">CATSUIT AMOUR</h5>
                                    <!-- Product reviews-->
                                   
                                    <!-- Product price-->
                                    $8900
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al Carrito</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        {% endblock %} 